@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

@theme {
  --animate-bounce-slow: bounce-slow 4s infinite ease-in-out;
  --animate-fadeIn: fadeIn 0.3s ease-out;
  --animate-slideDown: slideDown 0.3s ease-out;

  @keyframes bounce-slow {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-10px); }
  }
  @keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }
  @keyframes slideDown {
    from { transform: translateY(-10px); opacity: 0; }
    to { transform: translateY(0); opacity: 1; }
  }
}

@layer base {
  :root {
    --color-primary: #007aff;

    --color-success: #34c759;
    --color-danger: #ff3b30;
    --color-warning: #ff9500;
    --color-info: #5856d6;

    --color-bg-main: #f7f7f7;
    --color-bg-surface: #ffffff;
    --color-bg-active: #f9fafb;

    --color-border-main: #e5e5ea;
    --color-border-subtle: #f2f2f7;

    --color-text-main: #000000;
    --color-text-emphasis: #3a3a3c;
    --color-text-secondary: #8e8e93;
    --color-text-tertiary: #636366;
    --color-text-muted: #c7c7cc;
    --color-text-placeholder: #bdbdbd;
  }

  * {
    -webkit-tap-highlight-color: transparent;
    /* user-select: none; */
  }

  html,
  body,
  #root {
    height: 100%;
  }

  body {
    background: var(--color-bg-main);
    color: var(--color-text-main);
    font-family: "Inter", sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 14px;
  }

  ::-webkit-scrollbar {
    display: none;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  button {
    cursor: pointer;
  }

  button:active,
  a:active {
    opacity: 0.5;
  }

  textarea,
  select,
  input {
    outline: none;
    width: 100%;
  }
}
